.featured{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.featuredItem{
    flex:1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 8px -1px 33px -2px rgba(83,73,73,0.85) inset;
-webkit-box-shadow: 8px -1px 33px -2px rgba(83,73,73,0.85) inset;
-moz-box-shadow: 8px -1px 33px -2px rgba(83,73,73,0.85) inset;
}
.featureTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
   margin: 10px 0;
   display: flex;
   align-items: center; 
}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcons{
    margin-left: 5px;
    font-size: 14px;
    color: green;
}
.featuredIconsnegative{
    margin-left: 5px;
    font-size: 14px;
    color: rgb(170, 10, 10);
}
.featuredSub{
    font-size:15px ;
    color: gray;
}