.navbar{
    
    height: 50px;
    background-color: rgb(243, 247, 247);
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbarWrapper{
    height: 100%;
    padding: 0px 20px;
     display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: aqua;
    cursor: pointer;
}
.topRight{
    display: flex;
    cursor: pointer;
    
  
}
.navbarIcon{
    margin-right: 2rem;
    font-size:xx-large;
}